* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0px 24px 32px 24px;
  row-gap: 60px;

  background-color: #0a0119;
  color: white;
  font-family: "Space Grotesk", sans-serif;
}

hr {
  width: 100%;
  height: 2px;
  border: 0;
  background-color: white;
  margin: 24px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  width: 100%;
  padding: 24px 24px;
  position: fixed;
  background-color: rgba(10, 1, 25, 0.657);
  z-index: 1;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  text-align: center;
}

#hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.hero-content img {
  width: 256px;
}

.hero-content span {
  text-decoration: underline;
}

.contact-form input,
.contact-form textarea,
button {
  margin: 24px 0px;
  padding-bottom: 12px;
  width: fit-content;

  font-family: "Space Grotesk", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: white;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid white;
}

#skills-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  text-align: center;
}

#projects-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 56px;
  text-transform: uppercase;
}

.projects-container img {
  width: 100%;
  border-radius: 8px;
}

.project-info h3 {
  margin: 16px 0px;
}

.tech-tag-group {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 32px;
}

.img-group {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-group:hover .img-overlay {
  opacity: 1;
}

.img-overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(10, 1, 25, 0.657);
}

#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  text-align: center;
  width: 100%;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.contact-form {
  width: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  padding: 0 24px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.social-media-list {
  display: flex;
  gap: 24px;
}

header .social-media-list {
  display: none;
}

/* Breakpoints */

/* Medium devices (tablets, 834px and up) */
@media (min-width: 768px) {
  body {
    margin: 0px 64px 32px 64px;
  }

  #hero-section {
    margin-top: 97px;
    flex-direction: row;
  }

  .hero-content {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 24px;
  }

  #hero-info {
    align-items: flex-start;
    text-align: start;
    justify-content: center;
    width: 50%;
  }

  #hero-image {
    width: 50%;
    position: relative;
    bottom: 100px;
    height: fit-content;
  }

  #hero-image img {
    width: 100%;
    height: auto;
    display: block;
  }

  .button-group {
    gap: 16px;
  }

  header {
    padding: 24px 64px;
  }

  .social-media {
    flex-direction: row;
    justify-content: space-between;
  }

  header .social-media-list {
    display: flex;
  }

  header > svg {
    display: none;
  }
}

/* Large devices (desktops, 1440px and up) */
@media (min-width: 1280px) {
  body {
    max-width: 1200px;
    margin: 0px auto;
  }

  header {
    max-width: 1200px;
    padding: 24px;
  }
}

/* Typescales */
.display-1 {
  font-size: 82px;
  font-weight: 500;
}

.display-2 {
  font-size: 68px;
  font-weight: 500;
}

.display-3 {
  font-size: 57px;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-size: 33px;
  font-weight: 500;
}

h4 {
  font-size: 28px;
  font-weight: 500;
}

h5 {
  font-size: 23px;
  font-weight: 500;
}

h6 {
  font-size: 19px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 500;
}

.subtitle {
  font-size: 13px;
  font-weight: 500;
}

.captions {
  font-size: 11px;
  font-weight: 500;
}

.thin {
  font-weight: 200;
}

.black {
  font-weight: 900;
}
