* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #151515;
  color: #ffffff;
  padding-top: 80px; /* Adjust this value based on the height of your header */
}

.display-font {
  font-size: 3.576rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  z-index: 2; /* Ensure the header is above other content */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  margin: 0 20px;
}

li img {
  width: 40px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

header h5 span {
  height: 100%;
  font-weight: 400;
}

header h5 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-section {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.hero-content {
  flex: 2;
}

.overflowed-img {
  flex: 1;
}

div.hero-info > h1 > span {
  text-decoration: underline;
}

div.hero-content {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

div.hero-content > .hero-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.button-link {
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
}

.pattern {
  position: absolute;
  top: 8%;
  left: -2%;
  width: 30%;
  height: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.overflowed-img {
  position: relative;
  top: -160px;
  z-index: -1;
  opacity: 0.7;
}

#features-section {
  width: 1200px;
  margin: 40px auto;
}

.features-content {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.features-card {
  flex: 1;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}

.features-card:hover .overlay-hovered {
  opacity: 1;
}

.features-card img {
  width: 100%;
  height: 100%;
}

.overlay-hovered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0;
  transition-duration: 0.5s;
}

.overlay-hovered-header,
.overlay-hovered-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  padding: 20px;
}

.overlay-hovered-footer {
  justify-content: flex-end;
}

.overlay-hovered-header button {
  background-color: red;
  color: #ffffff;
  padding: 12px 24px;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.overlay-hovered-footer i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 50%;
}
